
@()(implicit requestHeader:RequestHeader,flash:Flash);

@import helper._
@main{

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
        </div>
        <ul class="nav navbar-nav header-left">
            <li><a href="profile">PROFILE</a></li>
            <li><a href="#">VIEW ASSIGNMENTS</a></li>
            <li><a href="#">VIEW USER</a></li>
            <li><a href="#">ADD ASSIGNMENT</a></li>
            <li ><a href="signin"> LOG OUT</a></li>

        </ul>
    </div>
</nav>

<body class="background3">
<br><br>

}